
<mat-toolbar>
  <span>Lista de Veículos</span>
</mat-toolbar>

  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <mat-list *ngIf="listVeiculos$ | async as veiculos">
        <mat-list-item *ngFor="let v of veiculos">
          <h6> Id: {{ v.id }} </h6>
          <h6> Marca: {{ v.marca }} </h6>
          <h6> Modelo: {{ v.modelo }} </h6>
          <h6> Ano: {{ v.ano }} </h6>
          <h6> valor: {{ v.valor }} </h6>
          <h6> risco: {{ v.risco }} </h6>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>